.mitglieder-section {

padding:60px 20px;

}



.mitglieder-grid {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}



.mitglied-card {

background:white;

border-left:6px solid var(--gold);

border-radius:15px;

overflow:hidden;

box-shadow:
0 8px 20px rgba(0,0,0,.15);

}



.mitglied-card img {
  width: 100% !important;
  height: 350px !important;
  object-fit: contain !important;
  object-position: center !important;
  background: #f5f5f5;
  cursor: pointer;
}



.mitglied-info {

padding:20px;

text-align:center;

}

body.mitglieder .section-title{
  color: var(--gold);
}

.mitglied-info h3 {

color:var(--green);

margin:0;

}



.mitglied-info p {

font-weight:700;

}



#lightbox {

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,.85);

align-items:center;

justify-content:center;

z-index:9999;

}



#lightbox.active {

display:flex;

}



#lightbox img {

max-width:90%;

max-height:90%;

}



.lightbox-close {

position:absolute;

top:20px;

right:30px;

font-size:40px;

color:white;

cursor:pointer;

}
