body.galerie #gallery-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Grid */
.photo-grid {
  column-count: 3;
  column-gap: 15px;
}

.photo-grid img,
.photo-grid video {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 850px) {
  .photo-grid {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .photo-grid {
    column-count: 1;
  }
}
