body.other header {
  /* min-height: auto; */
  background: var(--green);
}

body.other main,
body.other section {
  padding-top: 30px;
  background: var(--green);
}

body.other .section-title,
body.other .section-intro{
  color: var(--gold);
}

body.other .event {
  background: linear-gradient(135deg, #0b2e23, #144d3a);
  border-left: 6px solid var(--gold);
}
